/* 重置樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #495E74;
    --background-color: #ffffff;
    --text-color: #333333;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
  }
  
  h1 {
    font-size: 2.2rem;
    font-weight: bold;
    
  }
  
  h2 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  p {
    color: var(--primary-color);
    margin-top: 5px;
    font-size: 1.2rem;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
  }

  .icon{
    font-size: 40px;
  }
  
  @media (max-width: 660px) {
    body {
        font-size: 1rem;
      }
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
      a {
        font-size: 0.8rem;
      }
  }
  
  @media (min-width: 660px) and (max-width: 1023px) {
    body {
        font-size: 1rem;
      }
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
      a {
        font-size: 1rem;
      }
  }