.guide-line {
  position: sticky;
  top: 0;
  width: fit-content; 
  margin: 0 auto;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  background-color: white;
}

 .formpic{
    width: 300px;
    float:left; /* 圖片在左邊 */
    padding: 20px;
  }

  .card-container {
    display: flex;
    gap: 10px;
    justify-content: center; 
    margin-top: 20px;
    flex-wrap: wrap; 
  }
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 10px;
    width: 200px; 
    height: 100px; 
    overflow: hidden;
    margin: 20px auto;
    align-items: flex-start;
    transition: transform 0.2s;
  }

  .card:hover {
    transform: translateY(-5px); /* 懸停時略微上移 */
  }

  .card-img {
    width: 80px;
    height: 80px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .card-title {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }
  
  