.report-page {
  max-width: 960px; 
  margin: 20px auto; /* 水平居中頁面內容 */
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.report-title {
  font-size: 1.5em; 
  font-weight: bold; 
  text-align: center; 
  color: #283655; 
  margin-bottom: 2em; 
}

.report-page h2 {
  margin: 30px;
  text-align: center;
}
.report-page h4 {
  margin-left: 2em;
  margin-top: 24px;
  font-weight: bold;
}

.report-page p{
  text-indent: 2em;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.report-page ul {
  list-style-type: disc; /* 實心圓點 */
  margin-top: 0.5em;
  padding-left: 20px;
  margin-bottom: 16px;
}

.report-page ul + ul {
  margin-top: 2em;       /* 讓連續的 ul 更明顯分隔 */
}
.report-page ol {
  list-style-type: circle;
  margin-top: 8px;
}
.report-page li {
  text-indent: 0;
  margin-bottom: 10px;
  margin-left: 4em;
}

pre {
    background-color: #f4f4f4;
    padding: 5px;
    margin: 10px;
    overflow-x: auto;
    border-left: 4px solid #428f44;
    font-size: 0.95rem;
  }

  code {
    font-family: Consolas, Monaco, "Courier New", monospace;
    color: #333;
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 16px;
  }
  .custom-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  .custom-table th,
  .custom-table td {
    border: 1px solid #ccc;
    padding: 12px;
    vertical-align: middle;
  }
  .custom-table td:first-child {
    white-space: nowrap;    
    text-align: center;
  }
  .custom-table thead {
    background-color: #f0f0f0;
  }

.report-page img{
  width: 100%;
  max-width: 600px;
  display: block;
  height: auto;
  margin: 20px auto;
}

.guide-line {
  position: sticky;
  top: 40px;
  width: fit-content; 
  margin: 0 auto;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  z-index: 3;
}

.formpic{
  width: 300px;
  float: left; 
  padding: 20px;
  }

  .card-container {
    display: flex;
    gap: 10px;
    justify-content: center; 
    margin-top: 20px;
    flex-wrap: wrap; 
  }
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 10px;
    width: 200px; 
    height: 120px; 
    overflow: hidden;
    margin: 20px auto;
    transition: transform 0.2s;
  }

  .card:hover {
    transform: translateY(-5px); /* 懸停時略微上移 */
  }

  .report-page .card-img {
    width: 80px;
    height: 80px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .card-title {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }

  .btmNav{
    display: none;
  }

.carousel-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    padding: 0 1rem;
}

.carousel-header button {
    padding: 6px 12px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

.image-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.zoom-container {
    width: 100%;
    height: 100%;
    transform-origin: top left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.1s ease-out;
    user-select: none;
}


@media (max-width: 1023px) {
  .guide-line {
    display: none;
  }
  .btmNav{
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0; 
      background-color: #ffffff;
      border-top: 1px solid #f0f0f0;
      z-Index: 1000;
  }
  .report-title {
    font-size: 1.3em;
  }
}

@media (max-width: 660px) {
 .report-page p{
  text-indent: 1em;
}
 .report-page li {
  margin-left: 2em;
}
}

